<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title layout:fragment="title">
        LibraryManagement
        |
        View Category</title>
</head>

<body>
<section layout:fragment="section">
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${category}"
                     class="container my-5">
                    <div class="col-md-6">
                        <h2 th:case="null">
                            No
                            Category
                            found!!!</h2>
                    </div>
                    <div th:case="*">
                        <table class="table table-hover table-responsive-md">
                            <tr>
                                <td>Category ID</td>
                                <td th:text="${category.id}"></td>
                            </tr>
                            <tr>
                                <td>Category Name</td>
                                <td th:text="${category.name}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
