<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title layout:fragment="title">LibraryManagement | Publishers</title>
</head>

<body>
<section layout:fragment="section">
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${publishers}"
                     class="container my-5">
                    <p class="my-5">
                        <a href="/add-publisher"
                           class="btn btn-primary">
                            <i class="fa-solid fa-user-plus">Add Publisher</i>
                        </a>
                    </p>
                    <div class="col-md-12">
                        <h2 th:case="null">No Publisher found!!!</h2>
                    </div>
                    <div th:case="*">
                        <table class="table table table-hover table-responsive-md">
                            <thead>
                            <tr>
                                <th scope="col">Publisher Name</th>
                                <th scope="col">Detail</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="publisher : ${publishers}">
                                <td th:text="${publisher.name}"></td>
                                <td>
                                    <a th:href="@{/publisher/{id}(id=${publisher.id})}" class="btn btn-primary">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/update-publisher/{id} (id=${publisher.id})}"
                                       class="btn btn-primary">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/remove-publisher/{id} (id=${publisher.id})}"
                                       class="btn btn-primary">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
