<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title layout:fragment="title">
        LibraryManagement
        |
        Update Book</title>
</head>

<body>
<section layout:fragment="section">
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <form action="#" th:action="@{/save-update/{id} (id=${book.id})}" th:object="${book}" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="isbn" class="col-form-label">ISBN</label>
                            <input type="text" th:field="*{isbn}" class="form-control" id="isbn" placeholder="ISBN">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">Book Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Book Name">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description" class="col-form-label">Book Description</label>
                        <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Book Description">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="categories" class="col-form-label">Category</label>
                        <select th:field="*{categories}" id="categories" class="form-control">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="publishers" class="col-form-label">Publisher</label>
                        <select th:field="*{publishers}" id="publishers" class="form-control">
                            <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="authors" class="col-form-label">Author</label>
                        <select th:field="*{authors}" id="authors" class="form-control">
                            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
